.navbar {
  height: 70px;
  background: rgba(7, 20, 47, 0.95);
  backdrop-filter: blur(12px);

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 40px;
  box-shadow: 0 4px 20px rgba(0,0,0,.25);
}

.logo {
  color: white;
  font-size: 24px;
  font-weight: 700;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: .3s;
}

.nav-links a:hover {
  color: #22d3ee;
}

.welcome {
  color: #22d3ee;
  font-weight: 600;
}

.logout-btn {
  padding: 10px 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: linear-gradient(
    90deg,
    #ef4444,
    #dc2626
  );
  color: white;
  font-weight: 600;
  transition: .3s;
}

.logout-btn:hover {
  transform: translateY(-2px);
}